@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Commerce<br />
    Bogotá, Cundinamarca, Colombia<br />
    <abbr title="Phone">P:</abbr>
    +57 1 373 3740
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@commerce.com">support@commerce.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@commerce.com">marketing@commerce.com</a>
</address>